/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

ul,
ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li,
ol li {
    text-decoration: none;
    list-style: none;
}

ul a,
ol a {
    text-decoration: none;
    color: black;
}

/*Setup global vars*/
:root {
    --text-color: hsl(218, 22%, 67%);
    --us-bkg: hsl(179, 59%, 51%);
    --subscription-bkg: hsl(179, 62%, 43%);
    --bright-yellow: hsl(71, 73%, 54%);
    --container-bkg: hsl(204, 43%, 93%);
    --white-bkg: hsl(100, 100%, 100%);
}

/*CONTAINER*/
.container {
    width: 100%;
    background-color: var(--container-bkg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.grid-container {
    width: 100%;
    height: 95vh;
    display: grid;
    justify-items: center;
    align-items: stretch;
}

/*CARDS*/
article {
    width: 90%;
    height: auto;
    padding-bottom: 1rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
}

h1 {
    width: 90%;
    margin-left: 1rem;
    font-size: 1.25rem;
    font-weight: 700;
    text-align: start;
}

h2 {
    width: 90%;
    margin-left: 1rem;
    font-size: 1.15rem;
    font-weight: 700;
    text-align: start;
    color: var(--bright-yellow);
}

p {
    width: 90%;
    margin-left: 1rem;
    text-align: start;
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.5;
}

.btn {
    cursor: pointer;
    border: solid 1px transparent;
    border-radius: 0.5rem;
    width: 80%;
    background-color: var(--bright-yellow);
    margin: 0 auto;
    padding: 1rem;
    font-size: 1.15rem;
    font-weight: 600;
    color: var(--white-bkg);
    box-shadow: 4px 11px 19px -3px rgba(0, 0, 0, 0.11);
    -webkit-box-shadow: 4px 11px 19px -3px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 4px 11px 19px -3px rgba(0, 0, 0, 0.11);
}

/*CARD SPECS*/
.card--join {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-color: var(--white-bkg);
    margin-top: 1rem;

}

.card--join>h1 {
    color: var(--us-bkg);
}

.card--subs {
    background-color: var(--subscription-bkg);
}

.card--subs>h1 {
    color: var(--white-bkg);
}

.card--subs__price {
    color: var(--white-bkg);
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.card--subs__price--month {
    margin-left: 1rem;
    font-size: 0.8rem;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.685);
}

.card--subs>p {
    color: var(--white-bkg);
}

.card--us {
    background-color: var(--us-bkg);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.card--us>h1 {
    color: var(--white-bkg);
}

.card--us>p {
    color: rgba(255, 255, 255, 0.685);
}


/*FOOTER*/
footer {
    background-color: var(--container-bkg);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer>p {
    width: 100%;
    margin: 0;
    text-align: center;
    color: var(--text-color);
}

footer>p>a:visited {
    color: var(--text-color);
}

/*1440 px*/
@media (min-width: 1440px) {
.container {
    height: 90vh;
    padding-top: 1rem;
}

    .grid-container {
        width: 65%;
        height: 85vh;
        grid-template-areas:
            'join join'
            'subscription why';
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        justify-items:center;
        align-items: stretch;
    }

    article {
        justify-content: center;
        gap: 1.75rem;

    }

    .card--join {
        grid-area: join;
        width: 100%;
        margin: 0;
    }

    .card--join>h1 {
        color: var(--us-bkg);
        font-size: 2rem;
        margin-left: 2rem;
    }

    .card--join>h2 {
        font-size: 1.5rem;
        margin-left: 2rem;
    }

    .card--join>p {
        width: 80%;
        font-size: 1.5rem;
        margin-left: 2rem;
        line-height: 1.8;
    }

    .card--subs {
        border-bottom-left-radius: 0.5rem;
        grid-area: subscription;
        width: 100%;
    }

    .card--subs>h1 {
        margin-left: 2rem;
        font-size: 2rem;
    }

    .card--subs>p:first-of-type {
        margin-left: 2rem;
        font-size: 2.25rem;
    }

    .card--subs__price--month {
        font-size: 1.2rem;
    }

    .card--subs>p {
        margin-left: 2rem;
        font-size: 1.25rem;
    }

    .card--us {
        border-bottom-left-radius: 0;
        grid-area: why;
        width: 100%;
        padding-right: 6rem;
    }

    .card--us>h1 {
        margin-left: 2rem;
        font-size: 2rem;
    }

    .card--us>p {
        margin-left: 2rem;
        font-size: 1.25rem;
    }

    .btn:hover {
        background-color: var(--white-bkg);
        color: var(--bright-yellow);
        border: solid 1px var(--bright-yellow);
    }

    footer {
        height:10vh;
    }

}